.header {
    width: 100%;
    font-family: 'Poppins', Poppins-Regular;
    text-align: center;
    background-color: #222222;

    .header-title {
        padding: 10 0;
        color: white;
    }
}

//comment in here
