@import 'color.scss';

.accordion-panel {
    background-color: #ffffff;

    .panel-heading {
        padding: 12 15;
        border-bottom-width: 0.55;
        border-bottom-color: #dddddd;
    
        .heading {
            color: $darkgrey;
            align-items: center;
        
            .right-icon {
                text-align: right;
                width: 80;
                color: $primary;
            }
        }
    }
    
    .panel-body {
        padding: 15;
        border-bottom-width: 0.55;
        border-bottom-color: #dddddd;
    }
    
    .text-muted {
        color: #6c757d;
    }
    
}

