.thumbnail-item {
    padding: 15;
    border-width: 0 0 1 0;
    border-color: transparent;

    .thumbnail-image {
        width: 96;
        height: 54;
        margin-right: 10;
    }

    .item-inner {
        min-height: 54;
    }
}
