@import "../../css/color.scss";

.footer {
    width: 100%;
}

.footer .footer-btn {
    padding: 12.5 15;
    justify-content: center;
    align-items: center;
}

.footer .footer-btn-icon {
    text-align: left;
    color: $primary;
    padding-right: 8;
}

.footer .footer-btn-txt {
    color: white;
}
