<GridLayout columns="auto, *, auto" class="footer" [backgroundColor]="'rgba(34,34,34, ' + opacity + ')'">
    <FlexboxLayout col="0" class="footer-btn" (tap)="back()" *ngIf="showBack">
        <Label icon="chevron-left" txt-sm class="footer-btn-icon"></Label>
        <Label text="Back" txt-md class="footer-btn-txt circular"></Label>
    </FlexboxLayout>
    <FlexboxLayout col="1">
        <ng-content></ng-content>
    </FlexboxLayout>
    <FlexboxLayout col="2" class="footer-btn" (tap)="triggerMenuOnTap()">
        <Label icon="bars" txt-sm class="footer-btn-icon"></Label>
        <Label text="IRIS" txt-md class="footer-btn-txt circular"></Label>
    </FlexboxLayout>
</GridLayout>