.list{
    height: auto;
    padding: 10 0;

    .list-title{
        margin: 0 15;
        padding: 8 0;
        border-color: #dddddd;
        border-width: 0 0 1 0;

        &.list-title-no-side-margin {
        	margin-left: 0;
        	margin-right: 0;
        }
    }
}