<GridLayout rows="auto, auto" class="list">
    <GridLayout row="0" columns="auto,*,auto" class="list-title darkgrey" [ngClass]="{'list-title-no-side-margin' : !sideMargin}" (tap)="_onTap($event)">
        <StackLayout col="0" verticalAlignment="middle">
            <ng-content select="[list-title-left]"></ng-content>
        </StackLayout>
        <Label col="1" [text]="title" class="txt-lg" textWrap="true" verticalAlignment="bottom" style="color: #304D50;"></Label>
        <StackLayout col="2" verticalAlignment="middle">
            <ng-content select="[list-title-right]"></ng-content>
        </StackLayout>
    </GridLayout>
    <ScrollView row="1" [visibility]="panelStatus ? 'visible' : 'collapse' ">
        <StackLayout class="list-panel">
            <ng-content select="[list-body]"></ng-content>
        </StackLayout>
    </ScrollView>
</GridLayout>