// will have something
.btn-block{
    width: 100%;
    padding: 15 0;
    border-width: 1 1 1 1;
    border-color: #dddddd;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}
.btn-block-icon{
    padding-right: 8;
}