<StackLayout class="radio-group" [ngClass]="panelClass">
    <StackLayout class="radio-item" [ngClass]="radioItemClass" (tap)="toggleChoose($event)">
        <StackLayout>
            <StackLayout [attr.aria-expanded]="isChoose">
                <FlexboxLayout flexDirection="row" align-content="space-between" *ngIf="text" class="item-box">
                    <Label flexGrow="1" textWrap="true" [text]="text" [ngClass]="{'text-muted': isDisabled}"></Label>
                    <Label icon="{{isChoose ? this.chosenIcon : this.notChosenIcon}}" width="50" class="icon-label" [ngClass]="{'text-primary': isChoose}"></Label>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout [collapse]="!isChoose">
        <StackLayout class="radio-item-body" [ngClass]="radioItemBodyClass">
            <ng-content></ng-content>
        </StackLayout>
    </StackLayout>
</StackLayout>
