@import '../../css/color.scss';

.radio-group {
    background-color: #ffffff;

    .radio-item {
        padding: 12 15;
        // border-bottom-width: 0.55;
        // border-bottom-color: #dddddd;
    
        .item-box {
            color: $darkgrey;
            align-items: center;
        
            .icon-label {
                text-align: right;
                width: 80;
                color: $grey;
                font-size: 23;
            }

            .text-primary {
                color: $primary;
            }
        }
    }
    
    .radio-item-body {
        padding: 0 15;
        // border-bottom-width: 0.55;
        // border-bottom-color: #dddddd;
    }
    
    .text-muted {
        color: $grey;
    }
    
}

