<StackLayout class="accordion-panel" [ngClass]="panelClass">
    <StackLayout class="panel-heading" [ngClass]="panelHeadingClass" (tap)="toggleOpen($event)">
        <StackLayout class="panel-title">
            <StackLayout [attr.aria-expanded]="isOpen">
                <FlexboxLayout flexDirection="row" align-content="space-between" *ngIf="heading" class="heading" [ngClass]="{'text-muted': isDisabled}">
                   <FlexboxLayout flexGrow="1" columns="auto, *" style="align-items: center;">
                        <Label textWrap="true" *ngIf="titleIcon" [icon]="titleIcon" col="0" class="padding-right-8 primary" [ngClass]="titleIconClass"></Label>
                        <Label textWrap="true" [text]="heading" col="1" [ngClass]="headingClass"></Label>
                   </FlexboxLayout>
                    <Label icon="{{isOpen ? this.collapsedIcon : this.expandedIcon}}" width="50" class="right-icon"></Label>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout [collapse]="!isOpen">
        <StackLayout class="panel-body" [ngClass]="panelBodyClass">
            <ng-content></ng-content>
        </StackLayout>
    </StackLayout>
</StackLayout>
