@import '../../../css/color.scss';

.sub-icon-text-label {
    line-height: 15;
    align-items: center;
    justify-content: flex-start;
}

.icon-label {
    font-size: 15;
    color: $primary;
    padding-right: 10;
}

.text-label {
    font-size: 14;
    color: $secondary;
}
