<StackLayout 
    class="card" 
    [class]="cssClasses" 
    (tap)="onTap($event)" 
    (swipe)="onSwipe($event)">

    <!-- Card Image -->
    <Image 
        [src]="imageSrc"
        [loadMode]="loadMode" 
        stretch="aspectFit"
        class="card-image">
    </Image>

    <!-- Card Panel -->
    <GridLayout rows="auto, auto, auto" class="card-panel">
        <Label 
            txt-sm
            *ngIf="category" 
            [text]="category" 
            class="color-primary card-panel-category" 
            textWrap="false" 
            row="0">
        </Label>

        <Label 
            txt-md
            *ngIf="title"
            [text]="title" 
            class="card-panel-text"
            textWrap="true"
            row="1">
        </Label>

        <Label 
            txt-sm
            *ngIf="subtext"
            [text]="subtext" 
            class="color-secondary card-panel-subtext margin-bottom" 
            textWrap="false" 
            row="2">
        </Label>
    </GridLayout>

</StackLayout>