<GridLayout columns="*, auto, auto" class="list-item" (tap)="_onTap($event)">

    <StackLayout col="0">
        <Label class="list-item-text" 
            [text]="text" 
            txt-md 
            textWrap="false">
        </Label><!-- main text -->
        <Label class="list-item-secondary-text" 
            [visibility]="secondaryText ? 'visible' : 'collapsed'"
            [text]="secondaryText" 
            txt-sm 
            textWrap="false">
        </Label><!-- secondary text -->
    </StackLayout>

    <StackLayout col="1" *ngIf="icon">
        <Label
            [color]="iconColor"
            [icon]="icon"
            (tap)="_onIconTap($event)"
            txt-md>
        </Label>
    </StackLayout>

    <StackLayout col="2">
        <ng-content></ng-content>
    </StackLayout>
    
</GridLayout>