.picker-box {
    background-color: #ffffff;
    .header {
        border-color: #dddddd;
        border-width: 0.55 0 0 0;
        background-color: #e1e4e8;

        .btn-lab {
            padding: 8 15;
        }

        .title {
            text-align: center;
            padding: 8 10;
        }
    }
}