<StackLayout class="quick-action" [backgroundColor]="'rgba(249,249,249, ' + opacity + ')'">
    <!-- Header -->
    <GridLayout #quickActionHeaderRef 
        columns="*, auto" 
        class="quick-action-header" 
        (tap)="onTap($event)" 
        (pan)="onPan($event)">
        <Label txt-sm [text]="title" textWrap="false" col="0"></Label>
        <Label [icon]="panelStatusIcon" txt-md textWrap="true" class="color-primary" col="1"></Label>
    </GridLayout>

    <!-- <Action/> -->
    <!-- <WrapLayout #quickActionPanelRef
        orientation="horizontal" 
        class="quick-action-panel" 
        [visibility]="panelStatus ? 'visible' : 'collapse'">   
        <ng-content select="Action"></ng-content>
    </WrapLayout> -->

    <FlexboxLayout #quickActionPanelRef
        flexWrap="wrap"
        orientation="horizontal" 
        class="quick-action-panel" 
        [visibility]="panelStatus ? 'visible' : 'collapse'">   
        <ng-content select="Action"></ng-content>
    </FlexboxLayout>

</StackLayout>