.quick-action{

    .quick-action-header{
        width: 100%;
        padding: 10 15;
        background-color: rgba(243, 243,243, 0.95);
    }
    
    .quick-action-panel{
        border-width: 1 0 0 0;
        border-color: #dddddd;
        padding: 10 15;
        text-align: center;
    }
    .quick-action-panel.hide{
        visibility: hidden;
    }
    
    .quick-action-single-btn{
        justify-content: center;
        align-items: center;
    }
}