@import '../../css/color.scss';

.footer-btn {
    padding: 12.5 15;
    justify-content: center;
    align-items: center;
}
.footer-btn-icon {
    text-align: left;
    color: $primary;
    padding-right: 8;
}
.footer-btn-txt {
    color: white;
}