
.table {
    background-color: #F3F3F3;
    color: #333333;
    .row {
        border-bottom-width: 1;
        border-bottom-color: #ddd;
    }
    .col {
        padding: 8;
        text-align: center;
        
    }
}